h1{
    text-align: center;
    height: 50px;
    border: inset rgb(165, 187, 187);
}
.whatever{
    margin: 0px 20px 70px 20px; 
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#yes{
    border: 5px solid black;
    font-size: medium;
    height: auto;
}
body{
    background-color: silver;
}

